h1{
    font-size: 50px;
    font-family: Courier;
    color: green;

}
h2{
    color: red;
    font-size: 35px;
    font-family: Courier;
}
p{
    color: blue;
    font-family: Courier;
    
}
h3{
    color: blue;
    font-family: Courier;
    font-size: 34px;

}
div{
    font-family: Courier;
}
h4{
    color: green;
    font-family: Courier;
}
h6{
    color: green;
    font-size: 45px;
    font-family: Courier;
}