/*computer scherm*/
@media only screen and (max-width: 1200px){
    body{
        background-color: red;
        
    }    
}

/*tablet scherm*/
@media only screen and (max-width: 1000px){
    body{
        background-color: yellow;
        
    }    
}

/*kleine tablet scherm */
@media only screen and (max-width: 767px){
    body{
        background-color: green;
        
    }    
}

/*phone scherm*/
@media only screen and (max-width: 480px){
    body{
        background-color: blue;
        
    }    
}